{erl_opts, [
	debug_info,
	{i, "./_build/default/plugins/gpb/include"}
]}.

{plugins, [
    { rebar3_gpb_plugin, "2.13.1" },
    { web_proto_plugin, {git, "https://github.com/ngqlaw/web_proto_plugin.git", {tag, "0.1.0"}} }
]}.

{deps, []}.

{gpb_opts, [
    {i, "proto"},
    %{f, ["desired_proto_file1.proto"]},
    {module_name_suffix, "_pb"},
    %{o, "path/to/out_dir"},    %% both .erl and .hrl are generated here
    {o_erl, "src"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    type_specs
]}.

{web_proto_opts, [
    {i, "template"},
    {o, "src"},

    {main_proto_mark, <<"cmd">>},
    {sub_proto_mark, <<"c_cmd">>}
]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}},
        {compile, {web_proto, compile}},
        {clean, {web_proto, clean}}
    ]}
]}.